<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Upload Images to Firebase</title>
  
  
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel='stylesheet prefetch' href='https://fezvrasta.github.io/bootstrap-material-design/dist/css/bootstrap-material-design.css'>
<link rel='stylesheet prefetch' href='https://fezvrasta.github.io/bootstrap-material-design/dist/css/ripples.min.css'>

      <link rel="stylesheet" href="resume_style.css">

  
</head>

<body>

  <!--
Firebase v2.2.4

Las imágenes toma tiempo en cargar, sea paciente
The images take time to load, be patient

-->
<div ng-app='img2fire'>
  <div ng-controller='base64Ctrl'>
    <div class="container-fluid">
      <p class="text-info" align="center">Upload Your Resume</p>
      <hr />

      <form ng-submit="uploadFile()">
        <input type="file" name="file" class="inputimg" id="nameImg" accept="image/*">
        <br />
        <span class="input-group-btn">
                <button  type="submit" class="btn btn-block">Upload Image 
                  <i class="material-icons">send</i>
                </button>
          </span>
      </form>
      <hr />
      <div ng-repeat="img in imgs | toArray | orderBy: '-date'" class="col-xs-12 col-sm-6 col-md-3">
        <img ng-src="{{img.base64}}">
        <a class="btn btn-danger btn-block" ng-click="deleteimg(img.$id)">Delete</a>
      </div>
    </div>
  </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script src='https://fezvrasta.github.io/bootstrap-material-design/dist/js/material.min.js'></script>
<script src='https://fezvrasta.github.io/bootstrap-material-design/dist/js/ripples.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js'></script>
<script src='https://cdn.firebase.com/js/client/2.2.4/firebase.js'></script>
<script src='http://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js'></script>

  

    <script  src="resume.js"></script>




</body>

</html>
